h1 {
    font-size: 4rem !important;
    color: #4C102A;
    text-align: center;
    padding: 10px;
}

a { text-decoration: none !important; }

.bg-logo {
    background-color: #FFF8E7!important;
}

.company_row {
    border: 1px lightgray solid;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px;
    margin-bottom: 5px;
}