{% extends 'base.html' %} {% block industry %}

<h1>
  <img
    src="{{url_for('static', filename=badge)}}"
    width="80px"
    style="float: right"
  />{{ company['name'] }}
</h1>
<hr />
<div class="row">
  <div class="col-6">
    <p>
      <b>Industry:</b>
      <span class="badge badge-primary">{{ company['industry'] }}</span>
    </p>
    <p>
      <b>Overall score:</b>
      <span class="badge badge-info" style="font-size: 28px"
        >{{company['score']}}</span
      >
    </p>
  </div>
  <div class="col-6">
    <p><b>Summary:</b> {{ company['summary'] }}</p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-12">
    <h3>Electricity usage reduction</h3>
    <p>
      <b>Heating:</b>
      <span>-7.4%</span>
    </p>
    <p>
      <b>Lighting:</b>
      <span>+2.4%</span>
    </p>
    <p>
      <b>Other:</b>
      <span>+0.4%</span>
    </p>
  </div>
  <div class="col-6">
    <div id="divElecBar" class="chart"></div>
  </div>
  <div class="col-6">
    <div id="divElecDivG" class="chart"></div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-12">
    <h3>Water usage reduction</h3>
    <p>
      <b>Upkeep:</b>
      <span>-3.4%</span>
    </p>
    <p>
      <b>Other:</b>
      <span>+0.6%</span>
    </p>
  </div>
  <div class="col-6">
    <div id="divWaterBar" class="chart"></div>
  </div>
  <div class="col-6">
    <div id="divWaterG" class="chart"></div>
  </div>
</div>
<hr />

<span class="badge badge-primary">{{ company['created'] }}</span>
<script type="text/javascript">
  var divElecBar = {{elecBarJSON | safe}}
  Plotly.plot('divElecBar', divElecBar, {})
  var divWaterBar = {{waterBarJSON | safe}}
  Plotly.plot('divWaterBar', divWaterBar, {})

  var elecG = {{elecGraphJSON3 | safe}}
  Plotly.plot('divElecDivG', elecG, {})

  var waterG = {{waterGraphJSON3 | safe}}
  Plotly.plot('divWaterG', waterG, {})
</script>
{% endblock %}
