{% extends 'base.html' %}

{% block industry %}
    <h1>{% block name %} Welcome to LeaderBoard {% endblock %}</h1>
    {% for df in d %}
    <div class='row'>
        <div class='col-6'>
            <a href="{{ url_for('company', company_id=df['company']['id']) }}">
            <h2>{{ df['company']['name'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ df['company']['created'] }}</span>
        <a href="{{ url_for('edit', id=df['company']['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        </div>
        <div class='col-6'>
            <div id={{ df['chart_id'] }} class='chart'></div>
        </div>
    </div>
        <hr>
    {% endfor %}
{% endblock %}
